.menu-item{
    padding: 1rem 0rem !important;
}
.sidebar {
    background-color: white !important;
    height: 92vh;
    border:none;
    
   }
   @media (max-width: 480px) {
    .dashboard-sidebar {
        width: 100%; /* Adjust the sidebar to take full width and act as a top bar */
        display: none; /* or you can hide it */
    }}