@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media print {
  .grand-total-row {
    display: table-row;
    position: static;  /* Change from fixed to static */
    width: 100%;
    background-color: white;
  }
  /* .grand-total-row:not(:last-child) {
      display: none;
  } */

  @page {
      margin-bottom: 0;
  }
}
/* @media print {
  .table-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .table-content {
    flex-grow: 1;
  }

  .grand-total-row {
    margin-top: auto;
  }
} */